* {
  font-family: 'Khula', sans-serif;
  letter-spacing: 1px;
 }

a {
  color: white;
}

body {
  background: url(../images/symphony.png) repeat;
}

#logo-navbar-middle {
  width: 150px;
  margin: 0 2%;
}

.home-button {
  margin-left: 2%;
}

.about-button {
  margin-right: 3%;
  margin-left: 2.5%;
}

.menu-button {
  margin-left: 3%;
  margin-right: 2.5%;
}

span {
  text-align: center;
}

header {
  background: url(../images/top.png) top repeat;
  height: 200px;
}

header a {
  font-size: 18px;
  font-weight: 700;
}

.mobile-well {
  background: url(../images/ribbon.png) repeat;
}

.explore {
  padding-top: 3px;
  color: white;
  font-size: 20px;
  z-index: 1001;
}

ul li .dropdown-link {
  color: white;
  font-weight: 700;
}

.dropdown-menu li a {
  padding: 15px 0;
}

.main .main-well, .items .main-well {
  background: url(../images/testBG.png) repeat;
}

.main-p {
  font-size: 20px;
  text-shadow: 1px 0 #111;
  padding-top: 20px;
}

.main-h4 {
  font-size: 24px;
  font-weight: bold;
}

.main-location {
  font-size: 18px;
}

.main-divider {
  border-bottom: 2px dashed #bf4f65;
  width: 75%;
}

.site-divider {
  border-bottom: 3px dashed #bf4f65;
  width: 75%;
  margin-top: 25px;
  margin-bottom: 40px;
}

.items img {
  border-radius: 5%;
}

.item-padding {
  margin-bottom: 25px;
}

footer {
  background: url(../images/bottom.png) top repeat;
  height: 200px;
}

footer h4 {
  color: white;
  font-size: 20px;
}

footer .footer-divider {
  border-bottom: 2px dashed white;
  margin-bottom: 10px;
}

.footer-ul a {
  text-decoration: none;
}

.footer-ul li {
  margin-bottom: 5px;
}

.footer-ul a:hover {
  color: rgba(237, 72, 113, 1);
}

.footer-nav {
  padding-top: 50px;
}

.main .well, .items .well {
  box-shadow: 1px 2px 5px #444;
}


/* Nav Stuff */

#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary .navbar-nav > li {
  display: inline-block;
  float: none;
}
#navbar-primary .navbar-nav > li > a {
  padding-left: 20px;
  padding-right: 20px;
  background: white;
  color: rgba(237, 72, 113, 0.9);
  border: 3px dashed rgba(199, 90, 111, 0.8);
}
.nav > li > a:hover, .nav > li > a:focus {
  background: rgba(0,0,0,0);
  text-decoration: none;
  color: white;
}

/* Bootstrap Stuff */

/*.main-well {
  background: #E4C3A4;
}*/

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  width: 50%;
  background-color: #ef92a4;
}

@media screen and (min-width: 991px) {
  .item-padding {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main-p {
    font-size: 18px;
  }
  .img-thumbnail {
    margin-top: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .img-thumbnail {
    margin-top: 4%;
  }
}
